@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root{
    --bg-color:#191D88;
    --text-color: white;
    --option-color: gray;
    --container-color: black;
    --fonte: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--fonte);
    min-height: 100vh;
}

header{
    text-align: center;
}

.cabecalho_titulo{
    font-weight: 700;
    font-size: 2em;
    padding-top: 0.5em;
}

.container{
    background: var(--container-color);
    width: 40%;
    margin-left: 30%;
    margin-top: 3em;
    border-radius: 0.4em;
}

.container_titulo{
    font-size: 1.2em;
    padding: 1em;
    border-bottom: 1px solid #444;
    text-align: center;
}

.cabecalho_titulo{
    font-size: 2em;
}

.wrapper{
    margin: 1.2em 1.8em;
}

.input{
    position: relative;
}

#senha{
    width: 100%;
    padding: 0em 3em 0wm 1em;
    height: 3.3em;
    background: none;
    font-size: 1em;
    border-radius: 4px;
    letter-spacing: 1.4px;
    border: 1px solid #555;
    color: var(--text-color);
    font-weight: 500;
}

.copia_senha{
    background: url(https://img.icons8.com/material-outlined/24/737373/copy.png);
    position: relative;
    padding: 15px;
    background-repeat: no-repeat;
    right: 2.8em;
    top: 0.9em;
    color: #aaa;
}

.copia_senha:hover{
    background: url(https://img.icons8.com/material-outlined/24/FFFFFF/copy.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.indicador{
    width: 100%;
    height: 0.2em;
    position: relative;
    background: #333;
    margin-top: 0.7em;
    border-radius: 25px;
}

.indicador::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 0;
    border-radius: inherit;
    transition: width 0.3s ease;
}

.indicador#weak::before{
    width: 20%;
    background: #e64a4a;
}

.indicador#medium::before{
    width: 50%;
    background: #f1c80b;
}

.indicador#strong::before{
    width: 100%;
    background: #27c468;
}

.length{
    margin: 1.5em 0em 1.2em;
}

.length_details{
    display: flex;
    justify-content: space-between;
}

.length input{
    width: 100%;
    height: 0.3em;
}

.lista{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 1.2em;
}

.option{
    display: flex;
    align-items: center;
    margin-bottom: 1.2em;
    width: 50%;
}

.option:first-child{
    pointer-events: none;
}

.option label{
    cursor: pointer;
    color: #aaa;
    padding-left: 1em;
}

.option input{
    cursor: pointer;
}

#btn_generator{
    width: 100%;
    color: var(--text-color);
    border: none;
    outline: none;
    cursor: pointer;
    background: #444;
    font-size: 1em;
    padding: 1em 0;
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.9em 0 1.2em;
}

#btn_generator:hover{
    background: #333;
}

#btn_generator:active{
    transform: scale(0.95);
}